{% extends "layout.html" %}

{% block title %}Airlines{% endblock %}

{% block content %}
<div class="page d-flex flex-row flex-column-fluid">
    <!--begin::Wrapper-->
    <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
        <!--begin::Header-->
        <div id="kt_header" class="header header-bg">
            <!--begin::Container-->
            <div class="container-fluid">
                <!--begin::Brand-->
                <div class="header-brand me-5">
                    <!--begin::Aside toggle-->
                    <div class="d-flex align-items-center d-lg-none ms-n2 me-2" title="Show aside menu">
                        <div class="btn btn-icon btn-color-white btn-active-color-primary w-30px h-30px"
                             id="kt_aside_toggle">
                            <!--begin::Svg Icon | path: icons/duotune/abstract/abs015.svg-->
                            <span class="svg-icon svg-icon-1">
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
												<path d="M21 7H3C2.4 7 2 6.6 2 6V4C2 3.4 2.4 3 3 3H21C21.6 3 22 3.4 22 4V6C22 6.6 21.6 7 21 7Z"
                                                      fill="currentColor"/>
												<path opacity="0.3"
                                                      d="M21 14H3C2.4 14 2 13.6 2 13V11C2 10.4 2.4 10 3 10H21C21.6 10 22 10.4 22 11V13C22 13.6 21.6 14 21 14ZM22 20V18C22 17.4 21.6 17 21 17H3C2.4 17 2 17.4 2 18V20C2 20.6 2.4 21 3 21H21C21.6 21 22 20.6 22 20Z"
                                                      fill="currentColor"/>
											</svg>
										</span>
                            <!--end::Svg Icon-->
                        </div>
                    </div>
                    <!--end::Aside toggle-->
                    <!--begin::Logo-->
                    <a href="/">
                        <img alt="Logo" src="/static/media/logos/default-dark.svg"
                             class="h-25px h-lg-30px d-none d-md-block"/>
                        <img alt="Logo" src="/static/media/logos/default-small.svg" class="h-25px d-block d-md-none"/>
                    </a>
                    <!--end::Logo-->
                </div>
                <!--end::Brand-->
                <!--begin::Topbar-->
                <div class="topbar d-flex align-items-stretch">
                    <!--begin::Item-->
                    <div class="d-flex align-items-center me-2 me-lg-4">
                        <a href="/system" class="btn btn-primary border-0 px-3 px-lg-6">System</a>
                    </div>
                    <!--end::Item-->

                    <!--begin::Item-->
                    <div class="d-flex align-items-center me-2 me-lg-4">
                        <a href="/users" class="btn btn-primary border-0 px-3 px-lg-6">Manage Users</a>
                    </div>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <div class="d-flex align-items-center me-2 me-lg-4">
                        <a href="/airlines" class="btn btn-primary border-0 px-3 px-lg-6">Manage Airlines</a>
                    </div>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <div class="d-flex align-items-center me-2 me-lg-4">
                        <a href="/logout" class="btn btn-danger border-0 px-3 px-lg-6">Logout</a>
                    </div>
                    <!--end::Item-->
                </div>
                <!--end::Topbar-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Header-->
        <!--begin::Content-->
        <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
            <!--begin::Post-->
            <div class="post d-flex flex-column-fluid" id="kt_post">
                <!--begin::Container-->
                <div id="kt_content_container" class="container-xxl">
                    <div class="card card-flush">
                        <!--begin::Card header-->
                        <div class="card-header align-items-center py-5 gap-2 gap-md-5">
                            <!--begin::Card toolbar-->
                            <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
                                <!--begin::Add product-->
                                <a href="/create-airline"
                                   class="btn btn-primary">Add Airline</a>
                                <!--end::Add product-->
                            </div>
                            <!--end::Card toolbar-->
                        </div>
                        <!--end::Card header-->
                        <!--begin::Card body-->
                        <div class="card-body pt-0">
                            <!--begin::Table-->
                            <table class="table align-middle table-row-dashed fs-6 gy-5">
                                <!--begin::Table head-->
                                <thead>
                                <!--begin::Table row-->
                                <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                                    <th class="min-w-70px">ID</th>
                                    <th class="text-start min-w-100px">Airline</th>
                                    <th class="text-start min-w-100px">Flight</th>
                                    <th class="text-start min-w-75px mw-sm-75px">Airport From</th>
                                    <th class="text-start min-w-75px mw-sm-75px">Airport To</th>
                                    <th class="text-start min-w-95px mw-sm-95px">Day Of Week</th>
                                    <th class="text-start min-w-100px">Start At</th>
                                    <th class="text-start min-w-100px">Time</th>
                                    <th class="text-start min-w-100px">Length</th>
                                    <th class="text-start min-w-70px mw-sm-125px">Probability to delay</th>
                                    <th class="text-start min-w-70px">Delay</th>
                                    <th class="text-start min-w-70px">Actions</th>
                                </tr>
                                <!--end::Table row-->
                                </thead>
                                <!--end::Table head-->
                                <!--begin::Table body-->
                                <tbody class="fw-semibold text-gray-600">
                                {% for item in items %}

                                <!--begin::Table row-->
                                <tr>
                                    <!--begin::ID-->
                                    <td>
                                        <div class="form-check form-check-sm form-check-custom form-check-solid">
                                            {{ item.id }}
                                        </div>
                                    </td>
                                    <!--end::ID-->
                                    <td>
                                        {{ item.airline.name }}
                                    </td>

                                    <td>
                                        {{ item.flight_number.flight_number }}
                                    </td>

                                    <td>
                                        {{ item.airport_from.airport_name }}
                                    </td>

                                    <td>
                                        {{ item.airport_to.airport_name }}
                                    </td>

                                    <td>
                                        {{ item.day_of_week }}
                                    </td>

                                    <td>
                                        {% if item.delay_probability is none %}
                                        -
                                        {% else %}
                                        {{ item.start_at }}
                                        {% endif %}

                                    </td>

                                    <td>
                                        {{ item.time }}
                                    </td>

                                    <td>
                                        {{ item.length }}
                                    </td>

                                                                        <td>
                                        {% if item.delay_probability is none %}
                                        <span class="fw-bold text-gray-800">-</span>
                                        {% elif item.delay_probability >= 50 %}
                                        <span class="fw-bold text-danger">{{ item.delay_probability }}%</span>
                                        {% else %}
                                        <span class="fw-bold text-success">{{ item.delay_probability }}%</span>
                                        {% endif %}
                                    </td>

                                    <td>
                                        {% if item.delay is none %}
                                        <div class="badge badge-light-primary">Flight not completed yet</div>
                                        {% elif item.delay %}
                                        <div class="badge badge-light-danger">Delayed</div>
                                        {% else %}
                                        <div class="badge badge-light-success">On Time</div>
                                        {% endif %}
                                    </td>

                                    <!--begin::Action=-->
                                    <td class="text-start">
                                        <a href="#" class="btn btn-sm btn-light btn-active-light-primary"
                                           data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">Actions
                                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr072.svg-->
                                            <span class="svg-icon svg-icon-5 m-0">
															<svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                                 xmlns="http://www.w3.org/2000/svg">
																<path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z"
                                                                      fill="currentColor"/>
															</svg>
														</span>
                                            <!--end::Svg Icon--></a>
                                        <!--begin::Menu-->
                                        <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-125px py-4"
                                             data-kt-menu="true">
                                            <!--begin::Menu item-->
                                            <div class="menu-item px-3">
                                                <a href="/edit-airline/{{ item.id }}"
                                                   class="menu-link px-3">Edit</a>
                                            </div>
                                            <!--end::Menu item-->
                                            <!--begin::Menu item-->
                                            <div class="menu-item px-3">
                                                <form method="post" action="/delete-airline">
                                                    <input type="hidden" value="{{item.id}}" name="id"/>
                                                    <button class="menu-link px-3 border-0 bg-transparent w-100 bg-hover-light-primary">
                                                        Delete
                                                    </button>
                                                </form>
                                            </div>
                                            <!--end::Menu item-->
                                        </div>
                                        <!--end::Menu-->
                                    </td>
                                    <!--end::Action=-->
                                </tr>
                                <!--end::Table row-->
                                {% endfor %}

                                </tbody>
                                <!--end::Table body-->
                            </table>
                            <!--end::Table-->


                            <!-- Pagination controls -->
                            <div class="row pt-3 pb-5">
                                <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start">
                                    <div class="dataTables_length" id="kt_inbox_listing_length">
                                        <label>
                                            <select name="kt_inbox_listing_length" aria-controls="kt_inbox_listing"
                                                    class="form-select form-select-sm form-select-solid"
                                                    onchange="window.location.href='?page=1&per_page=' + this.value">
                                                <option value="10" {% if items.per_page== 10 %}selected{% endif %}>10
                                                <option value="25" {% if items.per_page== 25 %}selected{% endif %}>25
                                                </option>
                                                <option value="50" {% if items.per_page== 50 %}selected{% endif %}>50
                                                </option>
                                                <option value="100" {% if items.per_page== 100 %}selected{% endif %}>100
                                            </select>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
                                    <div class="dataTables_paginate paging_simple_numbers"
                                         id="kt_inbox_listing_paginate">
                                        <ul class="pagination">
                                            <li class="paginate_button page-item {% if not items.has_prev %}disabled{% endif %}"
                                                id="kt_inbox_listing_previous">
                                                <a href="?page={{ items.page - 1 }}" aria-controls="kt_inbox_listing"
                                                   class="page-link {% if not items.has_prev %}disabled{% endif %}">
                                                    <i class="previous"></i>
                                                </a>
                                            </li>

                                            {% for page_num in pages %}
                                            <li class="paginate_button page-item {% if page_num == items.page %}active{% endif %}">
                                                <a href="?page={{ page_num }}" class="page-link">{{ page_num }}</a>
                                            </li>
                                            {% endfor %}

                                            <li class="paginate_button page-item {% if not items.has_next %}disabled{% endif %}"
                                                id="kt_inbox_listing_next">
                                                <a href="?page={{ items.page + 1 }}" aria-controls="kt_inbox_listing"
                                                   class="page-link {% if not items.has_next %}disabled{% endif %}">
                                                    <i class="next"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Card body-->
                    </div>


                </div>
                <!--end::Container-->
            </div>
            <!--end::Post-->
        </div>
        <!--end::Content-->
        <!--begin::Footer-->
        <div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
            <!--begin::Container-->
            <div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
                <!--begin::Copyright-->
                <div class="text-dark order-2 order-md-1">
                    <span class="text-muted fw-semibold me-1">2025&copy;</span>
                    <a href="https://keenthemes.com" target="_blank"
                       class="text-gray-800 text-hover-primary">Alex.B.</a>
                </div>
                <!--end::Copyright-->
                <!--begin::Menu-->
                <ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">
                    <li class="menu-item">
                        <a href="https://keenthemes.com" target="_blank" class="menu-link px-2">About</a>
                    </li>
                    <li class="menu-item">
                        <a href="https://devs.keenthemes.com" target="_blank" class="menu-link px-2">Support</a>
                    </li>
                    <li class="menu-item">
                        <a href="https://1.envato.market/EA4JP" target="_blank" class="menu-link px-2">Purchase</a>
                    </li>
                </ul>
                <!--end::Menu-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Footer-->
    </div>
    <!--end::Wrapper-->
</div>
{% endblock %}
